nav.nav1{
    color: rgb(241, 234, 237);
    font-size: 40px;
    margin: 0px;
    background-color: rgb(240, 147, 186);
    text-align: left;
    word-spacing: 60px;
    text-indent: 40px;
    line-height: 50px;
    padding:  15px;
}

nav.nav2{
    color: rgb(241, 234, 237);
    font-size: 30px;
    /* margin: 0px; */
    background-color: rgb(240, 147, 186);
    /* text-align: left; */
    text-indent: 1420px;
    /* line-height: 70px;  */
    padding:  15px;
    position: absolute;
    bottom: 0px;
   
}



input[type=text], select {
    width: 300px;
    padding: 9px;
    margin: 6px;
    position:inherit;
   
}

input[type=submit] {
    width: 120px;
    background-color: #275227;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    
    border-radius: 4px;
    cursor: pointer;
  }

  div.div1 {
    /* border: 2px solid rgb(8, 8, 8); */
  padding: 5px;
  height: 320px;
  width: 500px;
  margin: auto;
  
     
  }
  
  legend{
      text-align: center;
  }


  fieldset{
      width: 800px;
      height: 300px;
      margin:auto ;
  }

  .one{
      position:absolute;
      left: 400px;
      /* top: 100px; */
      
  }

  .tow{
    position:absolute;
    right: 650px;
    top: 100px;

  }

  .three{
    position:absolute;
    left: 400px;
    top: 200px;

  }

  .four{
    position:absolute;
    right: 690px;
    top: 200px;

  }

  .five{
    position:absolute;
    right: 700px;
    top: 300px;

  }

